.title {
    background-image: linear-gradient(rgba(39, 36, 41, 0.7), rgba(0, 0, 0, 0.7)), url(images/img-1.jpg);
    height:100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.title-text {
    color: white;
    margin-top: 30%;
    margin-left: 20%;
}

.title-text h1 {
    font-size: 50px;
}

.title-text p {
    font-size: 30px;
}
.cold{
    font-size: 30px;
}
.doc{
    height:100vh;
    width:100%;
}
a{
    text-decoration: none;
}
a.hos{
    font-size: 25px;
}
